---
import Social from "./Social.astro";
---

<footer>
    <p>Learn more about my projects on 
    <Social platform="twitter.com" username= "astrodotbuild"/>
    <Social platform="linkedin.com" username= "astrodotbuild"/>
    <Social platform="youtube.com" username= "astrodotbuild"/>
    </p>
    <style>
        footer{
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
        }


    </style>

</footer>